.sample-grid{
    display: grid;
    grid-auto-columns: 3;
    grid-template-columns: auto auto auto;
}

.sample-container{
    display: grid;
    text-align: center;
}

.input-color{
    color: white;
}

#previewImg{
    width: 200px;
    display: none;
}

#previewAud{
    display: none;
}

.upload{
    display:grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
}

.hide{
    display: none;
}

.title-cover{
    text-align: center;
}

h2 span{
    padding: 6px;
    background-color: rgba(25,96,114,255);
    border-radius: 25px;
    border:rgba(25,96,114,150) ;
    border-style:groove;
}

.coverimg{
    width: 250px;
}

.audio{
    text-align: center;
}

#ulBtn{
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.button{
    border: black;
    background-color: white;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.button:hover{
    background-color:silver;
}

.button:active{
    background-color: white;
}