.sample-grid{
    display: grid;
    grid-auto-columns: 3;
    grid-template-columns: auto auto auto;
}

.form{
    display: block;
    flex-direction: column;
    justify-content: center;
}

.fields{
    text-align: center;
}

.ulBtn{
    text-align: center;
    margin: 0 46.7%;
    width: 102px;
}


.sample-container{
    display: grid;
    text-align: center;
}

.input-style{
    text-align: center;
}

#previewImg{
    width: 200px;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 43.6%;
}

#previewAud{
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 40%;
}

.upload{
    display:grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
}

.hide{
    display: none;
}

.title-cover{
    text-align: center;
}

h2 span{
    padding: 6px;
    background-color: rgba(25,96,114,255);
    border-radius: 25px;
    border:rgba(25,96,114,150) ;
    border-style:groove;
}

.align{
    padding-top: 18px;
}

.coverimg{
    width: 250px;
    height: 250px;
}

.aud{
    text-align: center;
}

.btn {
    transform: translate(0 50%);
}

.btn2 {
    transform: translate(0 50%);
}

.button{
    border: black;
    background-color: white;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    justify-content: center;
    margin:0 40%;
}

.button:hover{
    background-color:silver;
}

.button:active{
    background-color: white;
}